a {
    text-decoration: underline;
}

.b-page__header{
    background-color: #e6e6e6;
}

.b-count-vendors{
    font-size: 1.5em;
}

.b-order__form{
    background-color: #e2e2e2;
    border-style: solid;
}

.b-order__head{
    text-align: center;
}

.b-requests__head{
    text-align: center;
}

.b-requests__filters{
    color: grey;
}

.b-link_grey{
    color: grey;
}

.b-requests__filters{
    border-bottom-style: solid;
}

.b-request{
    border-bottom-style: solid;
    border-bottom-color: grey;
}

.b-requests__btn-all-requests{
    margin-top: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.b-feedbacks__previous{
    display: none;
    font-size: 3em;
}

.b-feedbacks__next{
    display: none;
    font-size: 3em;
}

.b-page__footer{
    background-color: #e6e6e6;
}

.b-feedback{
    border-style: solid;
    border-color: grey;
}

.b-page__footer{
    border-style: solid;
}

.b-footer__head{
    text-align: center;
}

.b-paginator{
    text-align: center;
}

.b-row_sm-bottom-margin{
    margin-bottom: 1em;
}

.b-switcher{
    text-align: center;
    font-size: 3em;
}

.b-filters{
    margin-bottom: 1em;
}




@media screen and (min-width: 768px) {

    .b-section-request__head{
        float: left;
        margin-right: 1em;
    }
    .b-profile__title{
        float: left;
        margin-right: 2em;
    }
    .b-count-vendors{
        margin-top: 3em;
    }
    .b-count-vendors__head{
        float: left;
        margin-right: 1em;
    }
    .b-count-vendors__wholesale-company{
        float: left;
        margin-right: 1em;
    }

    .b-order__form{
        padding-right: 1em;
    }

    .b-request__add-bookmark{
        text-align: right;
    }

    .b-request__date{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .b-request__add-bookmark{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .b-request__comment{
        margin-bottom: 1em;
    }

    .b-request__originator-name{
        margin-bottom: 1em;
    }

    .b-requests__btn-all-requests{
        margin-bottom: 8em;
    }

    .b-feedbacks__previous{
        display: block;
        text-align: right;
    }

    .b-feedbacks__next{
        display: block;
    }

    .b-feedback__author-name{
        margin-top: 0.5em;
    }

    .b-feedback__text{
        margin-bottom: 1em;
    }

    .b-feedbacks{
        margin-bottom: 4em;
    }

    .b-footer__text{
        padding-left: 16em;
        padding-right: 2em;
    }

    .b-switcher{
        display: none;
    }

    .b-region__head{
        float: left;
        text-align: right;
    }

    .b-region__region{
        text-align: right;
    }

}

