{% extends "template_page.html" %}
{% from "b-requests.html" import b_requests %}
{% block content %}
<div class="b-page__line">
    <div class="b-logo">
        <a href="./"><img src="img/house-logo-hi.png" class="img-thumbnail" alt="Logo" width="120" height="120"> </a>
    </div>
</div>
<div class="b-page__line container">
    {{ b_requests('Заявки', 'Показать ещё') }}
</div>
<div class="b-page__line container">
    <div class="b-paginator">
        <ul class="pagination">
            <li><a href="#">&lt;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&gt;</a></li>
        </ul>
    </div>
</div>
{% endblock %}