<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"> 
    <title>Личный кабинет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="b-page">
        <div class="b-page__header">
            <div class="b-menu navbar">
                <div class="b-menu-row container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <img src="img/hamburger-icon.png" class="b-hamburger-icon" alt="hamburger-icon" width="32" height="32">                 
                      </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="b-menu-btns nav navbar-nav">
                            <p class="navbar-text">Регион:</p>
                            <li><a class="b-link" href="#">Новосибирск и область</a></li>
                            <li><a class="b-link" href="#">&#9660;</a></li>
                        </ul>
                        <ul class="b-menu-btns nav navbar-nav navbar-right">
                          <li><a class="b-link" href="#">Леонид Федорович</a></li>
                          <li><a class="b-link" href="#">выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="b-page__footer container-fluid">
            <div class="b-footer">
                <div class="b-footer__head">
                    <h1>Вы поставщик?</h1>
                </div>
                <div class="row">
                    <div class="b-footer__text col-sm-6">
                        <p>
                            Для доступа к телефонам покупателей заполните форму или позвоните нам +7 999 888-77-66
                        </p>
                        <p>
                            Текст с дополнительной информацией по условиям сотрудничества. Возможно, стоит вынести его на отдельную страницу.<br>
                            Текст с дополнительной информацией по условиям сотрудничества. Возможно, стоит вынести его на отдельную страницу.   
                        </p>
                    </div>
                    <div class="b-footer__vendor-form col-sm-6">
                        <form class="b-form form-horizontal">
                            <div class="b-form__form-item form-group">
                                <div class="b-form-item">
                                    <label class="b-form-item__label control-label col-sm-2" for="organization">Организация</label>
                                    <div class="b-form-item__input col-sm-10">
                                        <input type="text" class="form-control" id="organization">
                                    </div>  
                                </div>
                            </div>
                            <div class="b-form__form-item form-group">
                                <div class="b-form-item">
                                    <label class="b-form-item__label control-label col-sm-2" for="organization-telephone">Телефон</label>
                                    <div class="b-form-item__input col-sm-10">
                                        <input type="text" class="form-control" id="organization-telephone">
                                    </div>  
                                </div>
                            </div>
                            <div class="b-form__form-item form-group">
                                <div class="b-form-item">
                                    <label class="b-form-item__label control-label col-sm-2" for="organization-email">Email</label>
                                    <div class="b-form-item__input col-sm-10">
                                        <input type="email" class="form-control" id="organization-email">
                                    </div>  
                                </div>
                            </div>  
                            <div class="b-form__form-item form-group">
                                <div class="b-form-item">
                                    <label class="b-form-item__label control-label col-sm-2" for="organization">Имя</label>
                                    <div class="b-form-item__input col-sm-10">
                                        <input type="text" class="form-control" id="organization-name">
                                    </div>  
                                </div>
                            </div>  
                            <div class="b-form__form-item form-group">
                                <div class="b-form__submit col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn-default btn-md">Отправить информацию</button>
                                </div>
                            </div>                      
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>